body{
    margin: 0;
    font-family: sans-serif;
}

/*Start navbar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 10vh;
    background-color: #f7e0c4;
}
nav .logo{
    font-size: 40px;
    font-weight: 550;
    font-family: sans-serif;
    float: left;
}
nav .logo p{
    margin: 0;
    padding-left: 70%;
    color: #000;
    font-family: sans-serif;
}

nav .list ul{
    display: flex;
    justify-content: space-between;
    float: right;
    list-style: none;
    margin-right: 60px;
}
nav .list ul li a{
    text-decoration: none;
    color: #000;
    padding-right: 40px;
   
}
/* End navbar */

/* Start main */
 
#main {
  background-image: url("assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:50px 13%;
  position: relative;
  min-height: 76vh;
}
/*.................  AI  ..................*/
/* Add a dark overlayer */
#main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1; 
}
#main  * {
    position: relative;
    z-index: 2; 
}    

/*...................................*/
  /* Start content */
#main .content {
  color: #fff;
  text-align: left;
  max-width: 500px;
  margin-right: 50px;
  box-sizing: border-box;
}

#main .content h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 0;
}

#main .content p {
   font-size: 16px;
    line-height: 1.6;
    margin: 0;

}
  /* End content */
  /* start form */
#main .form {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#main .form div {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 350px; 
  box-sizing: border-box;
}

#main .form h2 {
  font-family: 'Georgia', serif;
  color: #524d4d;
  text-align: left;
  margin-bottom: 20px;
  font-size: 24px;
}

#main .form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
}

#main .form input::placeholder {
  color: gray;
}

#main .form button {
  width: 100%;
  padding: 15px;
  background-color: #f7e0c4;
  color: #5d4037;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#main .form button:hover {
  background-color: #5d4037;
  color: #f7e0c4;
}
  /*End form*/
/* End main */ 
 

